.bg-dark{
    background-color: rgb(54,58,69);
}
.text-white{
    color: white;
    
}

.text-bold{
    font-weight: bold;
}

.custom-image{
    border-radius:20px;
    padding: 10px;
   /* box-shadow: 0 0 10px rgb(62, 61, 61);*/
    width: calc(100% - 20px)
}
.custom-buttons button ,.custom-buttons div  {
    background-color: rgb(40,44,52);
    border-color: none;
    color: rgb(255, 255, 255);
}
.custom-buttons button:hover {
    background-color: rgb(54,58,69);
    border-color:none
}

.shopping-cart {
    position: fixed;
    top: 0;
    right: 0;
    
}